@import "tailwindcss";
@plugin "@tailwindcss/forms";
@source "../../templates";

@theme {
    --font-sans: "Inter var", "Inter Variable Fallback", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI", "Symbol", "Noto Color Emoji";
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-mono: "Pokemon Emerald";
}

@layer base {
    @font-face {
        font-family: Inter var;
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url('../vendor/inter-ui/variable/InterVariable.woff2') format("woff2")
    }
    @font-face {
        font-family: Inter var;
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: "Regular";
        src: url('../vendor/inter-ui/variable/InterVariable-Italic.woff2') format("woff2")
    }
    @font-face {
        font-family: Pokemon Emerald;
        font-weight: 400;
        font-display: swap;
        font-style: normal;
        src: url('../fonts/PokemonEmerald.woff2') format("woff2")
    }
}

@layer utilities {
    .font-mono {
        letter-spacing: -.05em;
    }
}

@utility font-mono-shadow-* {
    text-shadow: 0 --value([integer])px 0 black, --value([integer])px --value([integer])px 0 black, --value([integer])px 0 0 black;
}
